<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head(title='Publish Book')}"></head>
<body>
<header th:insert="~{fragments/navbar :: navbar('')}"></header>

<div class="container py-5">
    <div class="row border shadow-sm rounded-4 mx-auto">
        <div class="p-3">
            <div th:replace="~{fragments/bookForm :: bookForm (formAction=@{/publisher/edit}, formMethod='PUT')}"></div>

            <div th:if="${errorMessage}" class="bg-danger-subtle rounded-2 p-3 mb-4">
                <p th:text="${errorMessage}"></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>